[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "python_with_braces"
version = "0.1.0"
authors = [{ name = "Python With Braces Team", email = "contact@pythonwithbraces.com" }]
description = "让Python支持大括号语法的预处理器 (PWB)"
readme = "README.md"
license = { file = "LICENSE" }
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Utilities"
]
keywords = ["python", "braces", "syntax", "preprocessor", "PWB"]
dependencies = []
requires-python = ">=3.6"

[project.scripts]
"python-with-braces" = "python_with_braces.core:main"
pwb = "python_with_braces.core:main"

[project.urls]
"Homepage" = "https://github.com/pythonwithbraces/python_with_braces"
"Source" = "https://github.com/pythonwithbraces/python_with_braces"