.danavlinks {
  --bs-nav-link-color: var(--bs-gray);
  --bs-nav-link-hover-color: var(--bs-gray);
  --bs-nav-link-disabled-color: var(--bs-gray);
  --bs-nav-pills-link-active-color: #ffffff;
  --bs-nav-pills-link-active-bg: var(--bs-secondary);

  .dropdown-toggle {
    background-color: var(--bs-nav-pills-link-active-bg);
    border-color: var(--bs-nav-pills-link-active-bg);
  }

  .nav-link,
  .dropdown-item {
    &:not(.active) {
      background-color: unset;
      color: var(--bs-nav-link-color);
    }

    &.active {
      background-color: var(--bs-nav-pills-link-active-bg);
      color: var(--bs-nav-pills-link-active-color);
    }
  }
}