
BODY {
    background: #E8C6EF;
}

div.top a {
    color: white;
}

div.top {
    background: #8F20A5;
    color: #6DA7C9;
}

h1 {
    color: #78178B;
}

h2 {
    color: #78178B;
}

a.admin {
    background-color: #73C4F3;
    color: navy;
}


@media all and (max-width: 600px) {
    div.header {
        display:none;
    }
}

@media all and (min-width: 600px) {
    div.headermobile {
        display:none;
    }
}
