
#___gcse_0 {
    float: right;
    background: red;
}

BODY {
  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
  background: #e8f8e8;
}

a {text-decoration: none; color: #007;}
a.menu {color:yellow; background:transparent; font-weight:bold;}
a.menu:visited {color:blue; background:transparent}
a.menu:link {color:blue; background:transparent}
a.external:after {color: #fa0;content: "\21AC";font-size: 1em;}
a.alert:link {color: red;}
a.alert:visited {color: red;}

li.info {background:#88f;}
li.error {background:red;}
li.warning {background:yellow;}
li.success {background: #00d000;}

ul.errorlist {background:red;}

table
{
    border-collapse: collapse;
}

table.edit_form {background:#0fa;}

table.edit_form th {
    vertical-align:top;
    text-align:right;
    padding-top:3px;
    padding-right:4px;
}
table.edit_form table {background:#0e9;font-size:small;}

li {
    margin-bottom: 1em;
}

div.rightbox {
    float: right;
    text-align: right;
    font-style: italic;
    font-size: 80%;
    width: 30%;
}

div.timestamps {
    float: right;
    font-style: italic;
}

div.rightmenu {
  /*menu a destra...non usato */
  margin: 0;
  font-size: 50% /*smaller*/;
  line-height: 1.1;
  position: absolute;
  position: fixed;
  top: 2em;
  left: auto;
  width: 10em;
  height: 15em;
  right: 2em;
  background: orange;
}

span.menu {
    color:yellow; 
    background:orange;
}

.top {
  color:#00a;
  margin: 0;
  background: orange;
  text-align: center;
}

div.header {
  text-align: center;
/* andrea: MAH non mi piace molto, cosa c'entra il dipmat dopotutto? */
/*   margin-bottom:10px; */
/*   margin-top:10px; */
/*   background-image:url(/style/piprints.png); */
/*   background-repeat:no-repeat; */
/*   height: 95px; */
  font-size: 140%;
  font-family: sans;
  font-variant: small-caps;
  color:#f71;
}

div.choice{
  font-family: serif;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.content {
  font-family: serif;
  background: #e0f0e0;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-bottom: 3px;
}

ul.bol {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 20px;
}

li.bol {
  list-style-image:url(/style/bol.png);
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 1px;
}

div.bol {
  font-size: 110%;
  font-style: italic;
  margin-bottom: 15px;
}


p.content {
  font-family: serif;
  background: #d8e8d8;
  margin: 5px;
}

h1 {
    font-size: 150%;
    font-family: sans;
    font-variant: small-caps;
    color:#f71;
}

span.math {
    font-variant: normal;
}

h2 {
    font-size: 130%;
    font-family: sans;
    font-variant: small-caps;
    color:#f71;
}

div.credits, div.validators, div.footers {
    font-size: 80%;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

a.admin {
 background-color: yellow;
 text-decoration: none;
}

img.noborder { border: 0; }

/* tt { */
/*     background: #77e; */
/* } */


table.calendar {
  background-color: navy;
}

tr.weekend {
  background-color: green;
}

tr.workday {
  background-color: aqua;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
