/* Cooper Black */
@font-face {
  font-family: 'Cooper Black';
  src: url('./fonts/cooperblkbt-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cooper Black';
  src: url('./fonts/cooperblkbt-italic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* Cooper Lt (Light) */
@font-face {
  font-family: 'Cooper Lt';
  src: url('./fonts/cooperltbt-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cooper Lt';
  src: url('./fonts/cooperltbt-italic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Cooper Lt';
  src: url('./fonts/cooperltbt-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cooper Lt';
  src: url('./fonts/cooperltbt-bolditalic-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* Cooper Medium */
@font-face {
  font-family: 'Cooper Medium';
  src: url('./fonts/coopermdbt-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cooper Medium';
  src: url('./fonts/coopermdbt-italic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}



:root {
  --bs-blue: #206b82;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #d9534f;
  --bs-orange: #fd7e14;
  --bs-yellow: #fd7e14;
  --bs-green: #3A833A;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #333333;
  --bs-primary: #206b82;
  --bs-secondary: #6c757d;
  --bs-success: #3A833A;
  --bs-info: #0dcaf0;
  --bs-warning: #fd7e14;
  --bs-danger: #d43f3a;
  --bs-light: #fff;
  --bs-dark: #333333;
  --bs-primary-rgb: 32, 107, 130;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 58, 131, 58;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 253, 126, 20;
  --bs-danger-rgb: 212, 63, 58;
  --bs-light-rgb: 255, 255, 255;
  --bs-dark-rgb: 51, 51, 51;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 51, 51, 51;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, fMonaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #333333;
  --bs-body-bg: #fff;
}



.module h1, .module .h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Cooper Medium;
}


.main {
  padding: 20px 0;
  background: #eee";
}

.masthead {
  background-color: #016170;
}

.account-masthead {
  min-height: 30px;
  color: #fff;
  background: #28bacf;
}

.site-footer {
  background: #016170;
  padding: 20px 0;
}

.masthead .main-navbar ul li a {
  padding: 0.6rem 0.9rem;
  color: #212529;
  text-decoration: none;
  font-family: Raleway;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}


.masthead .main-navbar ul li:hover a {
  padding: 0.6rem 0.9rem;
  color: #fff;
  text-decoration: none;
  font-family: Raleway;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
  border-radius: 0.3rem;
  background-color: #488d98;
  color: #fff;
}

.site-footer a {
  color: #454654;
}

.site-footer .attribution p {
  color: #454654;
  font-size: 0.875rem;
}

.site-footer label,
.site-footer small,
.site-footer .small {
  color: #454654;
}


.btn-primary {
  color: #fff;
  background-color: #016170;
  border-color: #016170;
}

.btn-success:hover {
  color: #fff !important;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #28bacf;
  border-color: #28bacf;
}

.masthead .main-navbar ul li a {
  padding: 0.6rem 0.9rem;
  color: #fff;
  text-decoration: none;
  font-family: Raleway;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}


.nav-link, .page-header .nav-tabs li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #488d98;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover, .page-header .nav-tabs li a:hover, .nav-link:focus, .page-header .nav-tabs li a:focus {
  color: #488d98;
  text-decoration: none;
}

.stages li.active .highlight {
  color: #488d98;
  background: #28bacf;
}

.stages li.complete .highlight {
  color: #999;
  background: #488d98;
}

.stages li.complete:after {
  border-color: rgba(197, 226, 196, 0);
  border-top-color: #488d98;
  border-bottom-color: #488d98;
}

.stages li.active:after {
  border-color: rgba(140, 198, 138, 0);
  border-top-color: #488d98;
  border-bottom-color: #488d98;
}


strong {
  font-weight: bolder;
  color: #FFF;
}

b {
  font-weight: bolder;
  color: #016170;
}

.homepage .module-search .search-form {
  border-radius: 0.25rem;
  background-color: #016170;
  padding: 30px 20px;
}

.homepage .module-search .tags {
  margin-top: -5px;
  padding: 5px 10px 10px 10px;
  background-color: #488d98;
}


.imgcap {
  height: 15em;
  object-fit: cover;
  width: 100%;
}
