/*
 * Developed by CQ Inversiones SAS. Copyright ©. 2019-2025. All rights reserved.
 * Desarrollado por CQ Inversiones SAS. Copyright ©. 2019-2025. Todos los derechos reservados.
 */

.rating {
    display: flex;
}

.rating > .star {
    color: #a2a2a2;
    margin: 1em auto;
    font-size: 1.25em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #a2a2a2;
    border-left: 1em solid transparent;
    transform: rotate(35deg);
    transition: color 0.3s;
    cursor: pointer;
}

.rating > .star:hover,
.rating > .star:hover:before,
.rating > .star:hover:after,
.rating > .star.checked,
.rating > .star.checked:before,
.rating > .star.checked:after {
    border-bottom-color: gold;
}

.rating > .star:before {
    border-bottom: 0.8em solid #a2a2a2;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.rating > .star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #a2a2a2;
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content: "";
}

.zb-radio-checkbox {
    list-style: none;
}