@page {
    /* size: A4 portrait; */
    size: landscape;
    margin-bottom: 3cm;
    @bottom-right {
        content: counter(page);
        font-size: 75%;
        width: 20%;
    }
    @bottom-left {
        content: element(footer);
        width: 80%;
    }
    .description.first-page {
        display: none;
    }
}

@page:first {
    margin-top: 2cm;
    @top-left {
        content: element(header);
        margin-top: 0;
    }
    .description.first-page {
        display: block;
    }
}  

body {
    font-family: "Titillium Web", Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #1C2024;
}
header {
    position: running(header);
    width: 100%;
    display: flex;
    align-items: center;
}

/* header .site_data {
    display: flex;
    width: 580px;
    align-items: center;
    justify-content: center;
} */

/* header hr {
    display: flex;
    width: 580px;
    align-items: center;
    justify-content: center;
} */

footer {
    position: running(footer);
    width: 100%;
}

a {
    color: #235295
}
h1 {
    font-weight: 500;
    font-size: 18px;
}
#logo {
    padding-right: 30px;
}

/* p.description {
    font-size: 1.3333333333rem;
} */

table.export-table {
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    border-spacing: 2px;
}

table.export-table thead {
    border-style: solid;
}

table.export-table tr {
    border: 1px solid ;
}
table.export-table td,
table.export-table th {
    overflow-wrap: break-word;
    word-break: break-all;
}
table.export-table tr.row-odd {
    background-color: #f2f2f2;
}

table.export-table th {
    background-color: #ebeced;
}

table.export-table,
table.export-table th,
table.export-table td {
    border: 1px solid #c5c7c9;
    border-collapse: collapse;
}

table.export-table th,
table.export-table td {
    padding: 5px;
}
