[buildout]
develop = .
parts = test
        test-python-memcached
        test-umemcache
        checker
        coverage-test
        coverage-report
        py
versions = versions


[versions]
distribute = 0.7.3
setuptools = 44.1.1
zc.buildout = 2.13.3
gevent = 22.10.2
greenlet = 2.0.1


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.memcache [test]
       p01.memcache [pymemcache]
       future


[test-python-memcached]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.memcache [test]
       p01.memcache [pythonmemcached]
       future


# only a vailable on python 2
[test-umemcache]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.memcache [test]
       p01.memcache [umemcache]
       future


[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/memcache


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.memcache [test]
       future
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
       future
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')


[py]
recipe = zc.recipe.egg
eggs = p01.memcache
       future
interpreter = python

