name: dagtool
services:
  airflow:
    image: airflow-standalone-local
    container_name: airflow-dev
    build:
      context: ..
      dockerfile: ./.container/Dockerfile
    ports:
      - "8080:8080"
    command: [ "airflow", "standalone" ]
    environment:
      AIRFLOW_HOME: "/opt/airflow"
      PYTHONPATH: "/opt/airflow/:/opt/airflow/plugins/dagtool/:/opt/airflow/plugins/"
      AIRFLOW_CONFIG: "/opt/airflow/airflow.cfg"
      AIRFLOW_ENV: "${AIRFLOW_ENV:-dev}"
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
      - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
      - ${AIRFLOW_PROJ_DIR:-.}/.container/airflow.standalone.cfg:/opt/airflow/airflow.cfg
      # NOTE: Mount tool package.
      - ${AIRFLOW_PROJ_DIR:-.}/dagtool:/opt/airflow/plugins/dagtool
